<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<title>Simple Wall</title>

</head>



<style type="text/css">

*{
	width: 100%;
}

.top{
	width: 100%;
	height: 30%;
	outline: 2px solid black;

}

.top p{
	text-align: right;
	padding-right: 20px;


}

.bottom{
	width: 90%;
	height: 70%;
	text-align: left;
	margin-left: 70px;
	margin-top:40px;

}


.bottom textarea{
	height: 100px;
	width: 90%;
}

.bottom button{
	width: 140px;
	height: 35px;
	background-color: blue;
	color:white;
	font-size: 15px;
	margin-left:78%;
}

</style>

<body>

	<div class = "top">

		<h1>CodingDojo Wall</h1>

		<p>Welcome {{ name }}! &nbsp; &nbsp; &nbsp; <a href="/logout">log off</a></p>


	</div>


		<div class = "bottom">

			<p>Post a message</p>

			<textarea></textarea>

			<button type = "submit" value="Submit">Post a message</button>

			{% for message in messages %}
			<br>

			<h>{{ message['first_name'] }} {{message['last_name']}} - {{message['date_created']}}
			</h>

			<ul>
				<li>{{ message['message'] }}</li>
			</ul>

				{% for comment in comments %}

					{% if message['idmessages'] == comment['message_id'] %}

					<p></p>

					<ul>{{ comment['first_name'] }} {{ comment['last_name'] }} {{comment['date_created']}}</ul>

					<ul style = "list-style-type:none" >
						<li>{{ comment['comment'] }}</li>
					</ul>
					{% endif %}

					{% endfor %}


			{% endfor %}







		</div>






</html>